[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "==20.8b1"
dynaconf = "*"
dj-database-url = "*"
psycopg2 = "*"
psycopg2-binary = "*"
isort = "*"
pillow = "*"
ipython = "*"
whitenoise = "*"
cloudinary = "*"
djangorestframework = "*"
django-cloudinary-storage = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
