{% extends 'articles/base.html' %}
{% load static %}
{% block title %}About me{% endblock title %}
{% block content %}

    <div class="sub-title">
        <h2>Немного обо мне</h2>
        <a href="{% url 'my_contact' %}"><i class="icon-envelope"></i></a>
    </div>


    <div class="col-md-12 content-page">
        <div class="col-md-12 blog-post">


            <!-- My Intro Start -->
            <div class="post-title margin-bottom-30">
                <h1>Привет, меня зовут <span class="main-color">Петр</span></h1>

                <ul class="knowledge">
                    <li class="bg-color-1">Веб-дизайнер</li>
                    <li class="bg-color-4">Веб-разработчик</li>
                    <li class="bg-color-6">Фрилансер</li>
                    <li class="bg-color-5">Консультант</li>
                </ul>

            </div>
            <!-- My Intro End -->


            <p>Я начинющий Веб-разработчик. На данный момент заканчиваю обучение в школе программирования TeachMeSkills по направлению <b>Back-end</b>.
                Надеюсь у меня получится успешно закончить учебу и я смогу выполнять вот такие <b><a
                        href="{% url 'my_work' %}" data-toggle="tooltip" data-placement="top"
                        title="Check out my work.">заказы</a></b>.
            </p>


            <!-- Video Start -->
            <div class="video-box margin-top-40 margin-bottom-80">
                <div class="video-tutorial">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs"
                       title="My Thought">
                        <img src="{% static "images/pic/my-pic1.png" %}" alt="">
                    </a>
                </div>
                <p>Когда-нибудь сдесь будет более полезный ролик</p>
            </div>
            <!-- Video End -->


            <!-- My Service Start -->
            <div class="post-title">
                <h1>Должен <span class="main-color">овладеть</span></h1>
            </div>

            <div class="list list-style-2 margin-top-30">
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <!-- My Service End -->

        </div>

        <div class="col-md-12 text-center">
            <a href="{% url 'my_contact' %}" data-toggle="tooltip" data-placement="top"
               title="Visit on my contact page for hire me." class="load-more-button">Нанять</a>
        </div>

    </div>

{% endblock content %}