{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">


    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href={% static "images/favicon/favicon.ico" %}>
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{% static "favicon/apple-touch-icon.png" %}">

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static "css/plugin.css" %}">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">


</head>
<body>

<!-- Preloader Start -->
<div class="preloader">
    <div class="rounder"></div>
</div>
<!-- Preloader End -->

<div id="main">
    <div class="container">
        <div class="row">
            {% include 'include/sidebar.html' %}
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                            {% block content %}

                            {% endblock %}
                        </div>
                    {% include 'include/sub_form.html' %}
                    </div>
                {% include 'include/footer.html' %}
                </div>
        </div>
    </div>
</div>
<!-- All Javascript Plugins  -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugin.js" %}"></script>

<!-- Main Javascript File  -->
<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
</body>
</html>