{% extends 'articles/base.html' %}
{% load static %}
{% block title %}MyContact{% endblock title %}
{% block content %}


<div class="sub-title">
    <h2>Мои контакты:</h2>
    <a href="{% url 'all_articles' %}"><i class="icon-home"></i></a>
</div>


<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">


        <!--            &lt;!&ndash; Intro Start &ndash;&gt;-->
        <!--            <div class="post-title margin-bottom-10">-->
        <!--                <h1>Looking for a <span class="main-color">online presence</span>?</h1>-->
        <!--            </div>-->

        <!--            <p>Я работаю в сфере веб-сайтов с 2004 года. <b>I am a developer</b></p>-->
        <!--            &lt;!&ndash; Intro End &ndash;&gt;-->


        <!--            <div class="row">-->

        <!--                <div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--                    <div class="testimonial-content">-->
        <!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at-->
        <!--                            orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet-->
        <!--                            nec tortor nec, tempor semper metus.</p>-->
        <!--                    </div>-->

        <!--                    <div class="testimonial-client-info">-->

        <!--                        <div class="testimonial-client client-thumb">-->
        <!--                            <img src="{% static 'images/testimonial/1.png' %}" alt="">-->
        <!--                        </div>-->

        <!--                        <div class="client-text">-->
        <!--                            <div class="client-name">Jhon Doe</div>-->
        <!--                            <span>Rolling LTD, Founder</span>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--                    <div class="testimonial-content">-->
        <!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at-->
        <!--                            orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet-->
        <!--                            nec tortor nec, tempor semper metus.</p>-->
        <!--                    </div>-->

        <!--                    <div class="testimonial-client-info">-->

        <!--                        <div class="testimonial-client client-thumb">-->
        <!--                            <img src="{% static 'mages/testimonial/2.png' %}" alt="">-->
        <!--                        </div>-->

        <!--                        <div class="client-text">-->
        <!--                            <div class="client-name">Jhon Doe</div>-->
        <!--                            <span>WebRes LTD, Founder</span>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--                    <div class="testimonial-content">-->
        <!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at-->
        <!--                            orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet-->
        <!--                            nec tortor nec, tempor semper metus.</p>-->
        <!--                    </div>-->

        <!--                    <div class="testimonial-client-info">-->

        <!--                        <div class="testimonial-client client-thumb">-->
        <!--                            <img src="{% static 'images/testimonial/3.png' %}" alt="">-->
        <!--                        </div>-->

        <!--                        <div class="client-text">-->
        <!--                            <div class="client-name">Jhon Doe</div>-->
        <!--                            <span>WeSoon LTD, Founder</span>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->
        <!--            &lt;!&ndash; Testimonials  End &ndash;&gt;-->

        <!--            &lt;!&ndash; Contact Me Start &ndash;&gt;-->


        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">
                    <i class="icon-screen-smartphone color-6"></i>
                    <p><a href="tel:+1234567890">+375 29 567 47 04</a></p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">
                    <i class="icon-envelope-open color-5"></i>
                    <p><a href="mailto:name@domain.com">petr.zharkou@gmail.com</a></p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">
                    <i class="icon-clock color-3"></i>
                    <p>Mon - Fri 09:00 – 18:00 (GMT+3)</p>
                </div>
            </div>

        </div>

        <div align="center">
            <script type="text/javascript" charset="utf-8"
                    async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab0bd5bf5b12b21037ffd78bdae2e50b1be857e711e5574a9f1a53d813292513e&amp;width=532&amp;height=441&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

        <!-- Testimonials Start -->
        <div class="post-title margin-top-50">
            <h2>Надеюсь, вы проверили <a href="{% url 'my_work' %}" data-toggle="tooltip"
                                         data-placement="top" title="Check out my work.">мою работу</a>, здесь вы можете
                оставить заявку на ваш проект:</h2>
        </div>

        <div class="row margin-top-30">
            <div class="col-md-12">

                <div class="row">
                    <form>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="Your Name">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="Your Email">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="website" class="form-control" placeholder="Your Website">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="address" class="form-control" placeholder="Where are You From?">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <select id="subject" class="form-group form-control">
                                <option value="" selected disabled>Subject</option>
                                <option>Website Design & Development</option>
                                <option>Wordpress Development</option>
                                <option>Search Engine Optimization</option>
                                <option>Mobile Website</option>
                                <option>I Want to General Talk</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="col-sm-12">
                            <div class="textarea-message form-group">
                                <textarea id="message" class="textarea-message form-control" placeholder="Your Message"
                                          rows="5"></textarea>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="load-more-button">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--            <div class="post-title margin-top-70">-->
        <!--&lt;!&ndash;                <h1>Мой <span class="main-color">адрес:</span></h1>&ndash;&gt;-->
        <!--            </div>-->

        <!-- Contact Me End -->
    </div>
</div>

{% endblock content %}