<div class="col-md-12 page-body margin-top-50 footer">
    <footer>
        <ul class="menu-link">
            <li><a href="{% url 'all_articles' %}">Главная</a></li>
            <li><a href="{% url 'about_me' %}">Обо мне</a></li>
            <li><a href="{% url 'my_work' %}">Работа</a></li>
            <li><a href="{% url 'my_contact' %}">Контакты</a></li>
        </ul>

        <div>
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>

    </footer>
</div>