<div class="col-md-12 page-body margin-bottom-50 footer">
    <header>
        <ul class="menu-link">
            <li><a href="{% url 'all_articles' %}">Главная</a></li>
            <li><a href="{% url 'about_me' %}">Обо мне</a></li>
            <li><a href="{% url 'my_work' %}">Работа</a></li>
            <li><a href="{% url 'my_contact' %}">Контакты</a></li>
            <li> | </li>

                {% if user.is_authenticated %}
                    <a href="#">{{ user.username }}</a>
                    <li><a href="{% url 'account_logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Вход</a></li>
                    <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                {% endif %}

        </ul>
    </header>
</div>