{% extends 'articles/base.html' %}
{% load static %}
{% block title %}{{ article.url }}{% endblock title %}
{% block content %}
<div class="sub-title">
    <a href="{% url 'all_articles' %}" title="Go to Home Page"><h2>Back Home</h2></a>
    <a href="#comment" class="smoth-scroll"><i class="icon-bubbles"></i></a>
</div>


<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">


        <div class="col-md-12 blog-post">
            <div class="post-title">
                <h1>{{ article.title }}</h1>
            </div>
            <div class="post-info">
                <span>{{ article.pub_date }} / by <a href="{% url 'my_contact' %}"
                                                     target="_blank">{{ article.author }}</a></span>
            </div>
            <p>{{article.content|safe}}</p>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci
            commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec,
            tempor semper metus. Cras vel tempus velit, et accumsan nisi. Duis laoreet pretium
            ultricies. Curabitur rhoncus auctor nunc congue sodale Sed posuere nisi ipsum.</p>


        <!-- Post Coding (SyntaxHighlighter) Start -->
        <div class="margin-top-40 margin-bottom-40">
                                   <pre class="brush: js">
                                   /* Smooth Scroll */

                                    $('a.smoth-scroll').on("click", function (e) {
                                      var anchor = $(this);
                                      $('html, body').stop().animate({
                                      scrollTop: $(anchor.attr('href')).offset().top - 50
                                      }, 1000);
                                      e.preventDefault();
                                     });

                                   /* Scroll To Top */

                                   $(window).scroll(function(){
                                     if ($(this).scrollTop() >= 500) {
                                     $('.scroll-to-top').fadeIn();
                                     } else {
                                     $('.scroll-to-top').fadeOut();
                                     }
                                     });

	                               $('.scroll-to-top').click(function(){
                                   $('html, body').animate({scrollTop : 0},800);
                                   return false;
                                    });
                                  </pre>
        </div>
        <!-- Post Coding (SyntaxHighlighter) End -->


        <div class="post-title">
            <h2>How to implement?</h2>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci
            commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec,
            tempor semper metus. Cras vel tempus velit, et accumsan nisi. Duis laoreet pretium
            ultricies. Curabitur rhoncus auctor nunc congue sodale Sed posuere nisi ipsum.</p>


        <!-- Post Image Gallery Start -->
        <div class="row margin-top-40 margin-bottom-40">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{% static 'images/blog/7.jpg' %}" class="image-popup" title="image Title">
                    <img src="{% static 'images/blog/7.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{% static 'images/blog/5.jpg' %}" class="image-popup" title="image Title">
                    <img src="{% static 'images/blog/5.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{% static 'images/blog/6.jpg' %}" class="image-popup" title="image Title">
                    <img src="{% static 'images/blog/6.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>

        </div>
        <!-- Post Image Gallery End -->


        <div class="post-title">
            <h2>Make it more awesome</h2>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci
            commodo hendrerit vitae nec eros. Vestibulum neque est.</p>


        <!-- Post Blockquote (Italic Style) Start -->
        <blockquote class="margin-top-40 margin-bottom-40">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci
                commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor
                nec, tempor semper metus. Cras vel tempus velit, <b>et accumsan nisi</b>. Duis
                laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodale Sed
                posuere nisi ipsum.</p>
        </blockquote>
        <!-- Post Blockquote (Italic Style) End -->


        <div class="post-title">
            <h2>Learn to check all the features</h2>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci
            commodo hendrerit vitae nec eros. Vestibulum neque est.</p>


        <!-- Post List Style Start -->
        <div class="list">
            <ul>
                <li>Ready to use Blog Template</li>
                <li>It have all the necessary features which you need to run blog</li>
                <li>Neat and Clean Typography</li>
                <li>Speed Optimization</li>
            </ul>
        </div>


        <div class="list list-style margin-top-40">
            <ul>
                <li>Ready to use Blog Template</li>
                <li>It have all the necessary features which you need to run blog</li>
                <li>Neat and Clean Typography</li>
                <li>Speed Optimization</li>
            </ul>
        </div>


        <div class="list list-style-2 margin-top-40">
            <ul>
                <li>Ready to use Blog Template</li>
                <li>It have all the necessary features which you need to run blog</li>
                <li>Neat and Clean Typography</li>
                <li>Speed Optimization</li>
            </ul>
        </div>
        <!-- Post List Style End -->


        <!-- Post Author Bio Box Start -->
        <div class="about-author margin-top-70 margin-bottom-50">

            <div class="picture">
                <img src="{% static 'images/blog/author.png' %}" class="img-responsive" alt="">
            </div>

            <div class="c-padding">
                <h3>Article By <a href="#" target="_blank" data-toggle="tooltip"
                                  data-placement="top" title="Visit Alex Website">Alex
                    Parker</a></h3>
                <p>You can use about author box when someone guest post on your blog.</p>
            </div>
        </div>
        <!-- Post Author Bio Box End -->

        <!-- Rating -->
        <div class="post-info">
            <form action="{% url 'add_rating' %}" method="post" name="rating">
                <b class="post-info">Рейтинг:</b>
                {% csrf_token %}
                <input type="hidden" value="{{ article.id }}" name="article">
                <span class="rating">
                                    {% for k, v in star_form.fields.star.choices %}
                                        <input id="rating{{ v }}" type="radio" name="star"
                                               value="{{ k }}">
                                        <label for="rating{{ v }}">{{ k }}</label>
                                    {% endfor %}
                                </span>
                <span class="editContent">4.0</span>
            </form>
        </div>

        <!-- You May Also Like Start -->
        <div class="you-may-also-like margin-top-50 margin-bottom-50">
            <h3>You may also like</h3>
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="single.html"><p>Make mailchimp singup form working with ajax using
                        jquery plugin</p></a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="single.html"><p>How to design elegant e-mail newsletter in html for
                        wish christmas to your subscribers?</p></a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="single.html"><p>How to customize a wordpress theme entirely from
                        scratch using a child theme?</p></a>
                </div>

            </div>
        </div>
        <!-- You May Also Like End -->


        <!-- Post Comment (Disqus) Start -->
        <div id="comment" class="comment">
            <h3>Обсудить статью</h3>

            <div class="row margin-top-30">
                <div class="col-md-12">

                    <div class="row">
                        <form action="{% url 'add_review' article.id %}" method="post" id="formReview">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{form.name}}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{form.email}}
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="textarea-message form-group">
                                    {{form.text}}
                                </div>
                            </div>
                            {{form.captcha}}
                            <div class="text-center">
                                <button type="submit" class="load-more-button">Send</button>
                            </div>
                        </form>
                    </div>
                    {% for review in article.get_review %}
                    <div class="media py-5">
                        <img src="{% static 'images/pic/te1.jpg' %}" class="mr-3 img-circle" alt="image">
                        <div class="media-body mt-4">
                            <h5 class="mt-0 editContent">
                                {{ review.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ review.text }}
                            </p>
                            <a href="#formReview"
                               onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                            {% for rew in review.review_set.all %}
                            <div class="media mt-5 editContent-1">
                                <a class="pr-3" href="#">
                                    <img src="{% static 'images/pic/te2.jpg' %}" class="img-circle"
                                         alt="image">
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0 editContent">{{ rew.name }}</h5>
                                    <p class="mt-2 editContent">{{ rew.text }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Post Comment (Disqus) End -->


    </div>
</div>
<script>
    function addReview(name, id) {
        document.getElementById("contactparent").value = id;
        document.getElementById("contactcomment").innerText = `${name}, `
    }
</script>

{% endblock content %}

{% block script %}
<!-- Syntax Highlighter Javascript File  -->
<script type="text/javascript" src="{% static 'js/syntax/shCore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushCss.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushJScript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushPerl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushPhp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushPlain.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushPython.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushRuby.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushSql.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushVb.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax/shBrushXml.js' %}"></script>

<!-- Syntax Highlighter Call Function -->
<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = "{% static 'js/syntax/clipboard.swf' %}";
    SyntaxHighlighter.all();
</script>

{% endblock script %}