{% extends 'articles/base.html' %}
{% block title %}MyBlog{% endblock title %}
{% block content %}
<div class="sub-title">
    <h2>Мой Блог</h2>
    <a href="{% url 'my_contact' %}"><i class="icon-envelope"></i></a>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search"
               placeholder="Введите название статьи..."
               name="q" class="form-control" required="">
    </form>
</div>


<div class="col-md-12 content-page">

    {% for article in articles %}
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-image">
            <a href="{{ article.get_absolute_url }}"><img src="{{ article.art_image.url }}" alt=""></a>
        </div>
        <div class="post-title">
            <a href="{{ article.get_absolute_url }}"><h1>{{ article.title }}</h1></a>
        </div>
        <div class="post-info">
            <span>{{ article.pub_date }} / by <a href="#" target="_blank">{{ article.author }}</a></span>
        </div>
        <a href="{{ article.get_absolute_url }}"
           class="button button-style button-anim fa fa-long-arrow-right"><span>Подробнее</span></a>
    </div>
    <!-- Blog Post End -->
    {% endfor %}


    <div class="col-md-12 text-center">
        <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Ещё</a>
        <div id="post-end-message"></div>
    </div>
</div>
{% endblock content %}

