{% extends 'articles/base.html' %}
{% block title %}MyBlog{% endblock title %}
{% block content %}
<div class="sub-title">
    <h2>My Blog</h2>
    <a href="{% url 'my_contact' %}"><i class="icon-envelope"></i></a>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search"
               placeholder="Введите название..."
               name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>


<div class="col-md-12 content-page">

    {% for article in articles %}
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-image">
            <img src="{{ article.art_image.url }}" alt="">
        </div>
        <div class="post-title">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="post-info">
            <span>{{ article.pub_date }} / by <a href="#" target="_blank">{{ article.author }}</a></span>
        </div>
        <a href="{{ article.get_absolute_url }}"
           class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
    </div>
    <!-- Blog Post End -->
    {% endfor %}


    <div class="col-md-12 text-center">
        <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
        <div id="post-end-message"></div>
    </div>
</div>
{% endblock content %}

